#fontChanger {
	font-family: 'Cinzel', serif;
	background: url(Scroll.jpg) no-repeat center center fixed;
	background-size: cover;

}

#output {
	margin-top: 25px;
	margin-right: 80px;
}

#entryField {
	opacity: .95;
}